__pycache__
.env
src/logs/*
*.log

!logs/.gitkeep

# virtualenv
.venv
venv
*/.cache
src/validation/data/*
src/validation/config/database.jsonl
src/validation/config/memory.json
src/validation/logs/*

src/playground_prompts/*
# vscode
.vscode/*
